<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Lista de sexta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="shop-list-content">
    <!-- lista de itens -->
    <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Feijão
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid">
                    <ion-checkbox></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span>3,89</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Arroz
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid">
                    <ion-checkbox></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span>5,89</span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Miojo
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid">
                    <ion-checkbox></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span></span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Farinha
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid">
                    <ion-checkbox></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span></span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Açucar
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid check-b">
                    <ion-checkbox class="check-b"></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span></span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center shop-list-item">
            <ion-col size="3">
                <div>
                    -Leite
                </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>3 KG</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="d-grid">
                    <ion-checkbox></ion-checkbox>
               </div>
            </ion-col>
            <ion-col size="2">
                <div>
                    <span>R$</span>
                </div>
            </ion-col>
            <ion-col size="2">
                <div class="price">
                    <span>4,39</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- total compra -->
    <ion-row class="conteudo">
        <ion-col size="8">
            <div class="val-text">
                <span>Total da compra:</span>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="val-price">
                <span>R$: 77,13</span>
            </div>
        </ion-col>
    </ion-row>
    <!-- button -->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <button class="btn-green btn-ajust">
                    Finalizar Compras
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
