ion-tab-bar, ion-tab-button{
    background-color: #F2F3F2;
    border-color: #F2F3F2;
}

ion-tab-button{
    color: #748A9D;

    &.tab-selected{
        color: #53B175;

        button.btn-add{
            background: #53B175;
        }
    }

    ion-icon{
        font-size: 26px;
    }

    button.btn-add{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #748A9D;
        color: #fff;
        font-size: 30px;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;
    } 
}
