<ion-header [translucent]="true" class="home-page-header">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-page-content">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Pesquisa -->
    <ion-item class="search-bar" lines="none">
        <ion-input 
            type="text" 
            placeholder="Buscar uma lista"
            class="ion-padding-left"
        >
        </ion-input>
        <button clear item-right>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-item>

    <!-- Carrinho vazio -->
    <ion-grid>
        <ion-row class="ion-justify-content-center lista-compras-vazia">
            <ion-col class="ion-align-self-center" size="12">
                <div>
                    <img src="assets/img/cart.svg" alt="Carrinho"/>
                    
                    <h2>Está tudo meio parado aqui</h2>

                    <h4>
                        Que tal começar a planejar a sua proxima
                        ida ao mercado
                    </h4>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Carrinho com itens -->
    <!-- <ion-grid>
        <ion-row class="ion-justify-content-center lista-compras-home">
            <ion-col class="d-flex lista-compras-item" size="11">
               <div class="d-grid">
                    <img 
                        src="assets/img/order.svg" 
                        alt="lista-compra"
                    />

                    <ion-label>
                        Lista de sexta
                    </ion-label>
               </div>

               <div>
                    <small>
                        13/12/2020
                    </small>
               </div>             
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center lista-compras-home">
            <ion-col class="d-flex lista-compras-item" size="11">
               <div class="d-grid">
                    <img 
                        src="assets/img/order.svg" 
                        alt="lista-compra"
                    />

                    <ion-label>
                        Lista viagem
                    </ion-label>
               </div>

               <div>
                    <small>
                        11/12/2020
                    </small>
               </div>             
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>
